.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  height: 100vh;
  max-width: 100%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px calc(100% - 30px);
      grid-template-rows: 30px calc(100% - 30px);
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.taskbar {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e6e6e6;
  color: black;
  max-width: 100%;
  overflow-x: visible;
  padding: 0px 10px;
}

.taskbar_widgets {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.taskbar_widgets .widget {
  padding: 0px 5px;
}

.taskbar_widgets .widget img {
  width: 20px;
  vertical-align: middle;
}

.taskwindow {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-size: 10px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  cursor: pointer;
  overflow: visible;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.taskwindow.active {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
}

.taskimage {
  vertical-align: middle;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.taskbar_arrow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  padding-right: 5px;
}

.taskbar .taskfolder {
  position: relative;
}

.taskbar .taskfolder > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 10000;
  background-color: #cfcfcf;
  display: none;
}

.taskbar .taskfolder:hover > ul {
  display: block;
}

.taskbar .taskfolder > ul li {
  padding: 5px 0px;
  margin-right: 0;
}

.taskbar .taskfolder > ul li:hover {
  background-color: #dbdbdb;
}

.desktop {
  background-color: #4b4b4b;
  -ms-grid-row: 2;
  grid-row: 2;
  height: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icon {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  color: white;
  margin: 20px 10px 16px;
  text-align: center;
  width: 120px;
}

.icon_image {
  width: 64px;
}

.icon_text {
  display: block;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.window {
  position: absolute;
  opacity: 0;
  color: white;
  max-height: calc(100vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid gray;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s opacity ease, .2s transform ease;
  transition: .2s opacity ease, .2s transform ease;
}

.window * {
  outline: none;
}

.window_titlebar {
  height: 30px;
  background-color: #e6e6e6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1.1fr;
      grid-template-columns: 1fr 1fr 1.1fr;
  padding: 0px 5px;
  cursor: default;
}

.window_titlebar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.window_content {
  height: 100%;
  max-height: 100%;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.textcontainer {
  outline: none;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 0;
  border: none;
  color: black;
  padding: 10px;
}

.minimized {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow: hidden;
}

.action_icon {
  background-color: inherit;
  border: none;
  padding: 0px 10px;
  outline: none;
  cursor: pointer;
}

.action_icon:hover {
  background-color: #f6e8e8;
  height: 100%;
}

.action_icon img {
  width: 15px;
}

.application_name {
  color: black;
  justify-self: center;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application_icon {
  -ms-grid-column-align: end;
      justify-self: end;
}

.application_icon img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.image-gallery {
  width: 100%;
}

.image-gallery-slide {
  overflow: hidden;
}

.folder_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.folder_icons .icon {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.folder_icons .icon_text {
  color: black;
}
/*# sourceMappingURL=style.css.map */