.app {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-rows: 30px calc(100% - 30px);
    grid-template-columns: 100%;
}

.taskbar {
    grid-row: 1;
    display: flex;
    background-color: rgb(230, 230, 230);
    color: black;
    max-width: 100%;
    overflow-x: visible;
    padding: 0px 10px;
}

.taskbar_widgets {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    align-items: center;

}

.taskbar_widgets .widget {
    padding: 0px 5px;

    img {
        width: 20px;
        vertical-align: middle;
    }
}

.taskwindow {
    flex-shrink: 1;
    font-size: 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    width: 150px;
    cursor: pointer;
    overflow: visible;
    transition: box-shadow .3s ease;
}

.taskwindow.active {

    box-shadow: inset 0 0 3px rgba($color: #000000, $alpha: .8);
}

.taskimage {
    vertical-align: middle;
    width: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.taskbar_arrow {
    flex-grow: 1;
    text-align: right;
    padding-right: 5px;
}

.taskbar .taskfolder {
    position: relative;
}

.taskbar .taskfolder>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 10000;
    background-color: rgb(207, 207, 207);
    display: none;
}

.taskbar .taskfolder:hover {
    &>ul {
        display: block;
    }

}

.taskbar .taskfolder>ul li {
    padding: 5px 0px;
    margin-right: 0;
}

.taskbar .taskfolder>ul li:hover {
    background-color: rgb(219, 219, 219);

}

.desktop {
    background-color: rgb(75, 75, 75);
    grid-row: 2;
    height: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.icons {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    color: white;
    margin: 20px 10px 16px;
    text-align: center;
    width: 120px;
}

.icon_image {
    width: 64px;
}

.icon_text {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}



.window {
    position: absolute;
    opacity: 0;
    color: white;
    max-height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    transform: scale(1);
    transition: .2s opacity ease, .2s transform ease;

}

.window * {
    outline: none;
}

.window_titlebar {
    height: 30px;
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-columns: 1fr 1fr 1.1fr;
    padding: 0px 5px;
    cursor: default;
}

.window_titlebar div {
    display: flex;
}

.window_content {
    height: 100%;
    max-height: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
}

.fullscreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

.textcontainer {
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 0;
    border: none;
    color: black;
    padding: 10px;
}

.minimized {
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
}

.action_icon {
    background-color: inherit;
    border: none;
    padding: 0px 10px;
    outline: none;
    cursor: pointer;
}

.action_icon:hover {
    background-color: rgb(246, 232, 232);
    height: 100%;
}

.action_icon img {
    width: 15px;
}

.application_name {
    color: black;
    justify-self: center;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.application_icon {
    justify-self: end;
}

.application_icon img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.image-gallery {
    width: 100%;
}

.image-gallery-slide {
    overflow: hidden;
}

.folder_icons {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 100%;
}

.folder_icons .icon {
    flex-grow: 0;
    flex-shrink: 0;
}

.folder_icons .icon_text {
    color: black;
}